<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Fondos Mutuos Chile</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery.wysiwyg.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/facebox.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/visualize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/date_input.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie.css" />
    <![endif]-->
</head>
<body>
    <div id="hld">
        <div class="wrapper">
            <div id="header">
                <div class="hdrl"></div>
                <div class="hdrr"></div>
                <h1><a href="{% url fm.home %}">Fondos Mutuos Chile</a></h1>
                <ul id="nav">
                    <!--<li><a href="">Fondos Mutuos</a></li>-->
                    <li><a href="{% url administrators_list %}">Administradores</a></li>
                </ul>
            </div>
            {% block body %}
            {% endblock %}
            <div id="footer">
                <p class="right">powered by <a href="http://www.nuvas.cl/">Nuvas</a></p>
            </div>
        </div>
    </div>
<!--[if IE]><script type="text/javascript" src="/static/js/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.img.preload.js"></script>
<script type="text/javascript" src="/static/js/jquery.filestyle.mini.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.pngfix.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
</body>
</html>
